/* BODY START*/
body {
    font-family: tahoma;
    background-color: white;
}
/* BODY SLUT */


/* HEADER START */
    .headercontainer {
        position: relative;
        text-align: center;
        color: #D4A686;
    }
        .centered {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: freestyle script;
        font-size: 35pt;
        color: #D4A686;
        }
/* HEADER SLUT */

/* TILBAGE KNAP START */
.tilbageknap {
    width: 10%;
    height: auto;
    margin-left: 10px;
}
/* TILBAGE KNAP SLUT */

/* TOP NAVIGATION START */
.topnav {
    display: none;
}

.topnavkategori {
    display: none;
}

.topnavemne {
    display: none;
}

/* BRØDKRUMMER*/
ul.breadcrumb {
    display: none;
}

/* Knapper med kategorier START*/
.linkknap { 
    background-color: #E1C2AC;
    width: 6cm;
    height: 3cm;
    border: none;
    color: #ca956f;
    padding: 20px;
    text-align: center;
    font-size: 15pt;
    margin: center;
    transition: 0.3s;
    border: 4px solid #D4A686;
    border-radius: 10px; /* Runde hjørner */
    cursor: pointer; /* Musemarkør ved hover */
  }
  
    .linkknap:hover { /* Link knap til webshop */
        background-color: #D4A686;
        color: #E1C2AC;
    }
/* Knapper med kategorier SLUT*/

/* OVERSKRIFT PÅ KATEGORI SIDER START*/
.overskriftside {
    font-family: freestyle script;
    font-size: 40pt;
    margin-top: 30px;
    color: #D4A686;
    text-align: center;
}

/* TIL TOPPEN KNAP START */
#tiltop {
    display: none; /* Skjult - default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Knap placeres i bunden af sitet */
    right: 20px; /* Knap placeres 20px fra højre side */
    z-index: 99; /* Sikrer at den ikke overlapper */
    border: none; /* Fjerner borders */
    outline: none; /* Fjerner outline */
    background-color: #E1C2AC; /* Baggrundsfarve */
    color: #D4A686; /* Tekst farve */
    cursor: pointer; /* Musemarkør ved hover */
    padding: 4px 13px; /* Padding */
    border: 4px solid #D4A686;
    border-radius: 10px; /* Runde hjørner */
    font-size: 20pt; /* Font størrelse */
    font-weight: bold;
  }
  
  #tiltop:hover {
    background-color: #D4A686; 
    color: #E1C2AC;
  }
  /* TIL TOPPEN KNAP SLUT */


/* FOOTER START */
.footercontainer {
    position: relative;
    text-align: center;
    margin-top: 2em;
    color: #D4A686;
  }
/* FOOTER SLUT */


/* FORSIDE START */
#gridforside {
    display: grid;
    grid-gap: 1em;
    margin-top: 3em;
    margin-left: 7em;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "design"
    "kode"
    "kommunikation"
    "lovgivning"
    "vaerktoejer"
    ;
}
    
#design {
   grid-area: design; 
}

#kode {
    grid-area: kode;
}

#kommunikation {
    grid-area: kommunikation;
}

#lovgivning {
    grid-area: lovgivning;
}

#vaerktoejer {
    grid-area: vaerktoejer;
    margin-bottom: 1em;
}

/* FORSIDE SLUT */



/* DESIGN START */

#griddesign { /* Design forside */
    display: grid;
    grid-gap: 1em;
    margin-top: 1em;
    grid-template-columns: 1fr 1fr 1fr; /* Brugt for at kunne centrere kasserne i mobil */
    grid-template-areas: 
    ". designprincipper ."
    ". farveteori ."
    ". typografi ."
    ". aestetik ."
    ;
}
    #designprincipper {
        grid-area: designprincipper;
    }
    #farveteori {
        grid-area: farveteori;
    }
    #typografi {
        grid-area: typografi;
    }
    #aestetik {
        grid-area: aestetik;
    }

#griddesignprincipper { /* Designprincipper */
    display: grid;
    grid-gap: 1em;
    margin-top: 1em;
    grid-template-columns: 1fr 1fr 1fr; /* Brugt for at kunne centrere kasserne i mobil */
    grid-template-areas: 
    ". gestaltprincipper ."
    ;
}
    #gestaltprincipper {
        grid-area: gestaltprincipper;
    }

        #gridgestalt {
            display: grid;
            margin: 1em;
            grid-gap: 1em;
            grid-template-columns: 1fr;
            grid-template-areas: 
            "hvadergestalt"
            "hvorforgestalt"
            "gestaltbillede"
            "gestaltclosure"
            "gestaltcommonfate"
            "gestaltcontinuation"
            "gestaltsimilarity"
            "gestaltfigureground"
            "gestaltproximity"
            "gestaltsymmetryorder"
            ;
        }
            #hvadergestalt {
                grid-area: hvadergestalt;
            }
            #hvorforgestalt {
                grid-area: hvorforgestalt;
            }
            #gestaltbillede {
                grid-area: gestaltbillede;
            }
            #gestaltclosure {
                grid-area: gestaltclosure;
            }
            #gestaltcommonfate {
                grid-area: gestaltcommonfate;
            }
            #gestaltcontinuation {
                grid-area: gestaltcontinuation;
            }
            #gestaltsimilarity {
                grid-area: gestaltsimilarity;
            }
            #gestaltfigureground {
                grid-area: gestaltfigureground;
            }
            #gestaltproximity {
                grid-area: gestaltproximity;
            }
            #gestaltsymmetryorder {
                grid-area: gestaltsymmetryorder;
            }
            #designprincipkilder {
                grid-area: designprincipkilder;
            }

#gridfarveteori { /* Farveteori */
    display: grid;
    grid-gap: 1em;
    margin-top: 1em;
    grid-template-columns: 1fr 1fr 1fr; /* Brugt for at kunne centrere kasserne i mobil */
    grid-template-areas: 
    ". farveteori ."
    ". farvesammensaetning ."
    ". farvepsykologi ."
    ; 
}
    #farveteori {
        grid-area: farveteori;
    }
    #farvesammensaetning {
        grid-area: farvesammensaetning;
    }
    #farvepsykologi{
        grid-area: farvepsykologi;
    }

        #gridfarveteorifarveteori {
            display: grid;
            margin: 1em;
            grid-gap: 1em;
            grid-template-columns: 1fr;
            grid-template-areas:
            "hvaderfarveteori"
            "hvorforfarveteori"
            "farvehjulet"
            "farverum"
            "kuloermaetninglyshed"
            ;
        }
            #hvaderfarveteori {
                grid-area: hvaderfarveteori;
            }
            #hvorforfarveteori {
                grid-area: hvorforfarveteori;
            }
            #farvehjulet {
                grid-area: farvehjulet;
            }
            #farverum {
                grid-area: farverum;
            }
            #kuloermaetninglyshed {
                grid-area: kuloermaetninglyshed;
            }
        
        #gridfarvesammensaetning {
            display: grid;
            margin: 1em;
            grid-gap: 1em;
            grid-template-columns: 1fr;
            grid-template-areas:
            "komplementaerfarver"
            "monokromfarver"
            "analogfarver"
            "triadefarver"
            "tetriadefarver"
            "splitkomplementaerfarver"
            ;
        }
            #komplementaerfarver {
                grid-area: komplementaerfarver;
            }
            #monokromfarver {
                grid-area: monokromfarver;
            }
            #analogfarver {
                grid-area: analogfarver;
            }
            #triadefarver {
                grid-area: triadefarver;
            }
            #tetriadefarver {
                grid-area: tetriadefarver;
            }
            #splitkomplementaerfarver {
                grid-area: splitkomplementaerfarver;
            }
        
        #gridfarvepsykologi {
            display: grid;
            margin: 1em;
            grid-gap: 1em;
            grid-template-columns: 1fr;
            grid-template-areas:
            "hvaderfarvepsykologi"
            "hvorforfarvepsykologi"
            "farvegul"
            "farveorange"
            "farveroed"
            "farvegroen"
            "farveblaa"
            "farvelilla"
            "farvehvid"
            "farvesort"
            "colorbyculture"
            ;
        }
            #hvaderfarvepsykologi {
                grid-area: hvaderfarvepsykologi;
            }
            #hvorforfarvepsykologi {
                grid-area: hvorforfarvepsykologi;
            }
            #farvegul {
                grid-area: farvegul;
            }
            #farveorange {
                grid-area: farveorange;
            }
            #farveroed {
                grid-area: farveroed;
            }
            #farvegroen {
                grid-area: farvegroen;
            }
            #farveblaa {
                grid-area: farveblaa;
            }
            #farvelilla {
                grid-area: farvelilla;
            }
            #farvehvid {
                grid-area: farvehvid;
            }
            #farvesort {
                grid-area: farvesort;
            }
            #colorbyculture {
                grid-area: colorbyculture;
            }

#gridtypografi { /* Typografi */
    display: grid;
    grid-gap: 1em;
    margin-top: 1em;
    grid-template-columns: 1fr 1fr 1fr; /* Brugt for at kunne centrere kasserne i mobil */
    grid-template-areas: 
    ". fontklassifikationer ."
    ". bogstavetsanatomi ."
    ; 
}
    #fontklassifikationer {
        grid-area: fontklassifikationer;
    }
    #bogstavetsanatomi {
        grid-area: bogstavetsanatomi;
    }

    #gridfontklassifikationer {
        display: grid;
        grid-gap: 1em;
        margin: 1em;
        grid-template-columns: 1fr;
        grid-template-areas:
        "hvadertypografi"
        "hvorfortypografi"
        "fontklassifikation"
        "typefacefont"
        "fontstyles"
        "fontweights"
        ;
    }
        #hvadertypografi {
            grid-area: hvadertypografi;
        }
        #hvorfortypografi {
            grid-area: hvorfortypografi;
        }
        #fontklassifikation {
            grid-area: fontklassifikation;
        }
        #typefacefont {
            grid-area: typefacefont;
        }
        #fontstyles {
            grid-area: fontstyles;
        }
        #fontweights {
            grid-area: fontweights;
        }

    #gridbogstavetsanatomi {
        display: grid;
        grid-gap: 1em;
        margin: 1em;
        grid-template-columns: 1fr;
        grid-template-areas:
        "bogstavanatomi"
        ;
    }
        #bogstavanatomi {
            grid-area: bogstavanatomi;
        }

#gridaestetik { /* Æstetik */
    display: grid;
    grid-gap: 1em;
    margin: 1em;
    grid-template-columns: 1fr 1fr 1fr; /* Brugt for at kunne centrere kasserne i mobil */
    grid-template-areas: 
    ". aestetikiwebdesign ."
    ; 
}
    #aestetikiwebdesign {
        grid-area: aestetikiwebdesign;
    }

#gridaestetikwebdesign {
    display: grid;
    grid-gap: 1em;
    margin: 1em;
    grid-template-columns: 1fr;
    grid-template-areas:
    "hvaderaestetikweb"
    "hvorforaestetikweb"
    "aestetikfunktion"
    "elementerwebdesign"
    ;
}   
/* DESIGN SLUT*/

/* KODE START */
#gridkode {
    display: grid;
    grid-gap: 1em;
    margin-top: 1em;
    grid-template-columns: 1fr 1fr 1fr; /* Brugt for at kunne centrere kasserne i mobil */
    grid-template-areas: 
    ". kodenssprog ."
    ". kodenslayout ."
    ". versionsstyring ."
    ;
}
    #kodenssprog {
        grid-area: kodenssprog;
    }
    #kodenslayout {
        grid-area: kodenslayout;
    }
    #versionsstyring {
        grid-area: versionsstyring;
    }

/* KODE SLUT*/

/* KOMMUNIKATION START */
#gridkommunikation {
    display: grid;
    grid-gap: 1em;
    margin-top: 1em;
    grid-template-columns: 1fr 1fr 1fr; /* Brugt for at kunne centrere kasserne i mobil */
    grid-template-areas: 
    ". kommunikationsteori ."
    ". metode ."
    ". praesentationsteknik ."
    ". socialemedier ."
    ". tekstproduktion ."
    ;
}
    #kommunikationsteori {
        grid-area: kommunikationsteori;
    }
    #metode {
        grid-area: metode;
    }
    #praesentationsteknik {
        grid-area: praesentationsteknik;
    }
    #socialemedier {
        grid-area: socialemedier;
    }
    #tekstproduktion {
        grid-area: tekstproduktion;
    }
/* KOMMUNIKATION SLUT */

/* LOVGIVNING START */
#gridlovgivning {
    display: grid;
    grid-gap: 1em;
    margin-top: 1em;
    grid-template-columns: 1fr 1fr 1fr; /* Brugt for at kunne centrere kasserne i mobil */
    grid-template-areas: 
    ". immaterielret ."
    ;
}
    #immaterielret {
        grid-area: immaterielret;
    }
/* LOVGIVNING SLUT */

/* VÆRKTØJER START */
#gridvaerktoejer {
    display: grid;
    grid-gap: 1em;
    margin-top: 1em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    ". designprocessen ."
    ". kamera ."
    ". metoder ."
    ". modeller ."
    ;
}
    #designprocessen {
        grid-area: designprocessen;
    }
    #kamera {
        grid-area: kamera;
    }
    #metoder {
        grid-area: metoder;
    }
    #modeller {
        grid-area: modeller;
    }
/* VÆRKTØJER SLUT*/


/* REGLER FOR FLERE ELEMENTER PÅ FORSKELLIGE SIDER */
.responsive {
    width: 100%;
    height: auto;
  }

#billedelink {
    text-align: center;
    font-size: 10pt;
}

.kilder {
    text-align: center;
    font-size: 10pt;
}

h1 {
    font-size: 15pt;
    font-weight: normal;
}

h2 {
    font-size: 13pt;
    font-style: italic;
    font-weight: normal;
}



/* TABLET START */

@media screen and (min-width: 769px) { 

    /* HEADER START */
    .centered {
        font-size: 55pt;
    }
    /* HEADER SLUT */

/* TOP NAVIGATION START */
.topnav {
    display: inherit;
    overflow: hidden;
    margin-bottom: -20px;
  }
  
  .topnav a { /* Links i nav bar*/
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover { /* Farven på hover over links */
    color: #D4A686;
  }
  
  .topnav a.active { /* Det "aktive" element - fremhæv siden man er på */
    color: #D4A686;
    font-weight: bold;
  }
  
  .topnav input[type=text] { /* Søgeboksen i nav bar */
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    text-align: right;
    font-size: 17px;
  }

.topnavkategori {
    display: inherit;
    overflow: hidden;
    margin-bottom: -20px;
  }
  
  .topnavkategori a { /* Links i nav bar*/
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
  }
  
  .topnavkategori a:hover { /* Farven på hover over links */
    color: #D4A686;
  }
  
  .topnavkategori a.active { /* Det "aktive" element - fremhæv siden man er på */
    color: #D4A686;
    font-weight: bold;
  }
  
  .topnavkategori input[type=text] { /* Søgeboksen i nav bar */
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    text-align: right;
    font-size: 15px;
  }

.topnavemne {
    display: inherit;
    overflow: hidden;
    margin-bottom: -30px;
  }
  
  .topnavemne a { /* Links i nav bar*/
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 13px;
  }
  
  .topnavemne a:hover { /* Farven på hover over links */
    color: #D4A686;
  }
  
  .topnavemne a.active { /* Det "aktive" element - fremhæv siden man er på */
    color: #D4A686;
    font-weight: bold;
  }
  
  .topnavemne input[type=text] { /* Søgeboksen i nav bar */
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    text-align: right;
    font-size: 13px;
  }
/* TOP NAVIGATION SLUT */


    .tilbageknap {
        display: none;
    }


    .overskriftside {
        font-size: 55pt;
    }

    .linkknap { 
        width: 8cm;
        height: 4cm;
        margin:auto;
        border: none;
        padding: 30px;
        font-size: 19pt;
        border: 4px solid #D4A686;
      }
    
      .kilder {
          font-size: 12pt;
      }

    /* FORSIDE START */
    #gridforside {
        margin-top: 5em;
        margin-bottom: 3em;
        margin-left: 3em;
        grid-gap: 2em;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "design kode" 
        "kommunikation lovgivning" 
        "vaerktoejer ."
        ;
    }

    /* FORSIDE SLUT */
    

/* DESIGN START */

    #griddesign { /* Design forside */
        margin-top: 2em;
        margin-bottom: 3em;
        margin-left: 3em;
        grid-gap: 2em;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "designprincipper farveteori" 
        "typografi aestetik" 
        ;
    }

    #griddesignprincipper { /* Designprincipper forside */
        margin-top: 3em;
        margin-left: 3em;
        grid-gap: 2em;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "gestaltprincipper ."
        ;
    }

        #gridgestalt { /* Gestaltprincipper */
            display: grid;
            margin: 2em;
            grid-gap: 2em;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
            "hvadergestalt hvorforgestalt"
            "gestaltbillede gestaltbillede"
            "gestaltclosure gestaltcommonfate"
            "gestaltcontinuation gestaltsimilarity"
            "gestaltfigureground gestaltproximity"
            "gestaltsymmetryorder ."
            "designprincipkilder designprincipkilder"
            ;
        }

    #gridfarveteori { /* Farveteori forside */
        margin-top: 3em;
        margin-left: 3em;
        grid-gap: 2em;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "farveteori farvesammensaetning"
        "farvepsykologi ."
        ;
    }

        #gridfarveteorifarveteori { /* Farveteori emneside */
            margin-top: 3em;
            margin-left: 3em;
            grid-gap: 2em;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
            "hvaderfarveteori hvorforfarveteori"
            "farvehjulet farverum"
            "kuloermaetninglyshed ."
            ;
        }

        #gridfarvesammensaetning { /* Farvesammensætning emneside */
            margin-top: 3em;
            margin-left: 3em;
            grid-gap: 2em;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
            "komplementaerfarver monokromfarver"
            "analogfarver triadefarver"
            "tetriadefarver splitkomplementaerfarver"
            ;
        }

        #gridfarvepsykologi { /* Farvepsykologi */
            margin-top: 3em;
            margin-left: 3em;
            grid-gap: 2em;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
            "hvaderfarvepsykologi hvorforfarvepsykologi"
            "farvegul farveorange"
            "farveroed farvegroen"
            "farveblaa farvelilla"
            "farvehvid farvesort"
            "colorbyculture ."
            ;
        }

    #gridtypografi { /* Typografi */
        margin-top: 3em;
        margin-left: 3em;
        grid-gap: 2em;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "fontklassifikationer bogstavetsanatomi"
        ;
    }

        #gridfontklassifikationer {
            margin-top: 3em;
            margin-left: 3em;
            grid-gap: 2em;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
            "hvadertypografi hvorfortypografi"
            "fontklassifikation typefacefont"
            "fontstyles fontweights"
            ;
        }

        #gridbogstavetsanatomi {
            margin-top: 3em;
            margin-left: 3em;
            grid-gap: 2em;
            grid-template-columns: 1fr 5fr 1fr;
            grid-template-areas: 
            ". bogstavanatomi ."
            ;
        }

    #gridaestetik {
        margin-top: 3em;
        margin-left: 3em;
        grid-gap: 2em;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "aestetikiwebdesign ."
        ;
    }
        #gridaestetikwebdesign {
            margin-top: 3em;
            margin-left: 3em;
            grid-gap: 2em;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
            "hvaderaestetikweb hvorforaestetikweb"
            "aestetikfunktion elementerwebdesign"
            ;
        }
/* DESIGN SLUT */

    /* KODE START */
    #gridkode {
        margin-top: 2em;
        margin-bottom: 3em;
        margin-left: 3em;
        grid-gap: 2em;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "kodenssprog kodenslayout" 
        "versionsstyring ." 
        ;
    }
    /* KODE SLUT*/

    /* KOMMUNIKATION START */
    #gridkommunikation {
        margin-top: 2em;
        margin-bottom: 3em;
        margin-left: 3em;
        grid-gap: 2em;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "kommunikationsteori metode" 
        "praesentationsteknik socialemedier" 
        "tekstproduktion ."
        ;
    }
    /* KOMMUNIKATION SLUT */

    /* LOVGIVNING START */
    #gridlovgivning {
        margin-top: 2em;
        margin-bottom: 3em;
        margin-left: 3em;
        grid-gap: 2em;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        ". immaterielret ." 
        ;
    }
    /* LOVGIVNING SLUT */

    /* VÆRKTØJER START*/
    #gridvaerktoejer {
        margin-top: 2em;
        margin-bottom: 3em;
        margin-left: 3em;
        grid-gap: 2em;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "designprocessen kamera" 
        "metoder modeller" 
        ;
    }
    /* VÆRKTØJER SLUT */
}
/* TABLET SLUT */


/* DESKTOP START */
@media screen and (min-width: 1100px) { 

/* HEADER START */
    .centered {
        font-size: 75pt;
    }
/* HEADER SLUT */
 
/* REGLER PÅ TVÆRS AF SIDER */
    .linkknap { 
        width: 10cm;
        height: 5cm;
        margin:auto;
        border: none;
        padding: 40px;
        font-size: 23pt;
        border: 4px solid #D4A686;
      }
    
      .overskriftside {
        font-size: 75pt;
    }

    /* FORSIDE START */
        #gridforside {
            margin-top: 5em;
            margin-bottom: 3em;
            grid-gap: 3em;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas: 
            "design kode kommunikation"
            "lovgivning vaerktoejer ."
            ;
        }
    /* FORSIDE SLUT */

/* DESIGN START */

    #griddesign {
        margin-top: 3em;
        margin-bottom: 3em;
        margin-left: 3em;
        grid-gap: 2em;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "designprincipper farveteori typografi" 
        ". aestetik ." 
        ;
    }

    #griddesignprincipper {
        grid-gap: 3em;
        margin-top: 3em;
        margin-left: 3em;
        grid-gap: 2em;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        ". gestaltprincipper ."
        ;
    }

        #gridgestalt {
            display: grid;
            margin: 2em;
            grid-gap: 3em;
            grid-template-columns: 2fr 1fr 1fr 2fr;
            grid-template-areas: 
            "hvadergestalt hvadergestalt hvorforgestalt hvorforgestalt"
            "gestaltbillede gestaltbillede gestaltbillede gestaltbillede"
            "gestaltclosure gestaltcommonfate gestaltcommonfate gestaltcontinuation"
            "gestaltsimilarity gestaltfigureground gestaltfigureground gestaltproximity"
            "gestaltsymmetryorder . . ."
            "designprincipkilder designprincipkilder designprincipkilder designprincipkilder"
            ;
        }

    #gridfarveteori {
        grid-gap: 3em;
        margin-top: 3em;
        margin-left: 3em;
        grid-gap: 2em;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "farveteori farvesammensaetning farvepsykologi ."
        ; 
    }
        #gridfarveteorifarveteori {
            display: grid;
            margin: 2em;
            grid-gap: 3em;
            grid-template-columns: 2fr 1fr 1fr 2fr;
            grid-template-areas: 
            "hvaderfarveteori hvaderfarveteori hvorforfarveteori hvorforfarveteori"
            "farvehjulet farverum farverum kuloermaetninglyshed"
            ;
        }

        #gridfarvesammensaetning {
            margin: 2em;
            grid-gap: 3em;
            grid-template-columns: 2fr 1fr 1fr 2fr;
            grid-template-areas:
            "komplementaerfarver monokromfarver monokromfarver analogfarver"
            "triadefarver tetriadefarver tetriadefarver splitkomplementaerfarver"
            ;
        }

        #gridfarvepsykologi {
            margin: 2em;
            grid-gap: 3em;
            grid-template-columns: 2fr 1fr 1fr 2fr;
            grid-template-areas:
            "hvaderfarvepsykologi hvaderfarvepsykologi hvorforfarvepsykologi hvorforfarvepsykologi"
            "farvegul farveorange farveorange farveroed"
            "farvegroen farveblaa farveblaa farvelilla"
            "farvehvid farvesort farvesort colorbyculture"
        ;
        }

    #gridtypografi {
        grid-gap: 3em;
        margin-top: 3em;
        margin-left: 3em;
        grid-gap: 2em;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "fontklassifikationer bogstavetsanatomi ."
        ; 
    }

        #gridfontklassifikationer {
            margin: 2em;
            grid-gap: 3em;
            grid-template-columns: 2fr 1fr 1fr 2fr;
            grid-template-areas:           
            "hvadertypografi hvadertypografi hvorfortypografi hvorfortypografi"
            "fontklassifikation typefacefont typefacefont fontstyles" 
            ". fontweights fontweights ."
            ;
        }

        #gridbogstavetsanatomi {
            margin: 2em;
            grid-gap: 3em;
            grid-template-columns: 1fr 3fr 1fr;
            grid-template-areas:
            ". bogstavanatomi ."
            ;
        }



    #gridaestetik {
        grid-gap: 3em;
        margin-top: 3em;
        margin-left: 3em;
        grid-gap: 2em;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        ". aestetikiwebdesign ."
        ; 
    }
        #gridaestetikwebdesign {
            margin: 2em;
            grid-gap: 3em;
            grid-template-columns: 2fr 1fr 1fr 2fr;
            grid-template-areas:
            "hvaderaestetikweb hvaderaestetikweb hvorforaestetikweb hvorforaestetikweb"
            "aestetikfunktion aestetikfunktion elementerwebdesign elementerwebdesign"
        }

    /* DESIGN SLUT */
    
    /* KODE START */
        #gridkode {
            margin-top: 3em;
            margin-bottom: 3em;
            margin-left: 3em;
            grid-gap: 2em;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas: 
            "kodenssprog kodenslayout versionsstyring" 
            ;
        }
    /* KODE SLUT*/
    
    /* KOMMUNIKATION START */
        #gridkommunikation {
            margin-top: 3em;
            margin-bottom: 3em;
            margin-left: 3em;
            grid-gap: 2em;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas: 
            "kommunikationsteori metode praesentationsteknik" 
            "socialemedier tekstproduktion ." 
            ;
        }
    /* KOMMUNIKATION SLUT */
    
    /* LOVGIVNING START */
        #gridlovgivning {
            margin-top: 3em;
            margin-bottom: 3em;
            margin-left: 3em;
            grid-gap: 2em;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas: 
            ". immaterielret ." 
            ;
        }
    /* LOVGIVNING SLUT */
    
    /* VÆRKTØJER START*/
        #gridvaerktoejer {
            margin-top: 3em;
            margin-bottom: 3em;
            margin-left: 3em;
            grid-gap: 2em;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas: 
            "designprocessen kamera metoder" 
            ". modeller ." 
            ;
        }
    /* VÆRKTØJER SLUT */
}
/* DESKTOP SLUT */
    